# Root node_modules and dist
node_modules/
dist/
build/
*.log
*.tmp
*.temp

# macOS
.DS_Store

# VSCode
.vscode/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.yarnrc.yml

# Example app specific ignores
example/node_modules/
example/android/.gradle/
example/android/app/build/
example/android/build/
example/ios/build/
example/ios/Pods/
example/ios/Podfile.lock
example/ios/*.xcworkspace
example/ios/*.xcuserdata
example/.expo/
example/.expo-shared/
example/.turbo/
example/.idea/
example/dist/
example/build/
example/coverage/
example/tmp/
example/metro-cache/
example/.jest/
example/.DS_Store
